<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>com.user.servlet.PlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerServlet</url-pattern>
    </servlet-mapping>
</web-app>
